/* COLORS */
:root {
    --main-color:#ff8777;
    --black-color: black;
    --white-color: white;
    --light-grey-color: lightgrey;
    --grey-color: grey;
    --centered-color: black;
}

html {
  max-width: 100%;
  overflow-x: hidden;
}

/* Main styles */
body {
  font-family: Montserrat;
  font-weight: 50;
  font-size: 130%;
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  word-spacing: 20%;
  letter-spacing: 5%;
  background-color: var(--black-color);
  color: var(--main-color);
  text-align: center;
  max-width: 100%;
  overflow-x: hidden;
}

.white {
    color: var(--white-color);
}

.pink {
    color: var(--main-color);
}

.grey{
    color: var(--black-color);
    opacity: 0.5;
}

.light-grey{
    background-color: var(--white-color);
}

/* HEADINGS */
.standard-heading{
    font-size: 200%;
    color: var(--white-color);
}

.main-heading{
    font-size: 350%;
    color: var(--main-color);
}

.sub-heading {
    font-size: 130%;
    color: var(--light-grey-color);
}

.text-alignment {
  text-align: left;
  margin-left: 5%;
}

/* CROPPED IMAGE */
.cropped-image img {
    padding: 1%;
    margin-top: 3%;
    margin-left: 10%;
    width: 450px;
    height: 700px;
    object-fit: cover;  
    object-position: 40% 40%;
    box-shadow: 10px 10px var(--main-color);
}

a {
    text-decoration: unset;
}

.landing {
    margin-top: 10%;
    margin-bottom: 10%;
}

@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

.glowing {
    position: relative;
    transform-origin: right;
    animation: colorChange 5s linear infinite;
}
  
.glowing:nth-child(even) {
    transform-origin: left;
}
  
@keyframes colorChange {
    0% {
      filter: hue-rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
      transform: rotate(360deg);
    }
}
  
.glowing span {
    position: absolute;
    top: calc(80px * var(--i));
    left: calc(80px * var(--i));
    bottom: calc(80px * var(--i));
    right: calc(80px * var(--i));
}
  
.glowing span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -8px;
    width: 15px;
    height: 15px;
    background: var(--grey-color);
    border-radius: 50%;
}
  
.glowing span:nth-child(3n + 1)::before {
    background: var(--main-color);
    box-shadow: 0 0 20px var(--main-color),
      0 0 40px var(--main-color),
      0 0 60px var(--main-color),
      0 0 80px var(--main-color),
      0 0 0 8px rgba(255, 135, 119, .1);
}
  
.glowing span:nth-child(3n + 2)::before {
    background: var(--main-color);
    box-shadow: 0 0 20px var(--main-color),
      0 0 40px var(--main-color),
      0 0 60px var(--main-color),
      0 0 80px var(--main-color),
      0 0 0 8px rgba(255, 135, 119, .1);
}
  
.glowing span:nth-child(3n + 3)::before {
    background: var(--main-color);
    box-shadow: 0 0 20px var(--main-color),
      0 0 40px var(--main-color),
      0 0 60px var(--main-color),
      0 0 80px var(--main-color),
      0 0 0 8px rgba(255, 135, 119, .1);
}
  
.glowing span:nth-child(3n + 1) {
    animation: animate 10s alternate infinite;
}
  
.glowing span:nth-child(3n + 2) {
    animation: animate-reverse 3s alternate infinite;
}
  
.glowing span:nth-child(3n + 3) {
    animation: animate 8s alternate infinite; 
}
  
@keyframes animate {
    0% {
      transform: rotate(180deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  
@keyframes animate-reverse {
    0% {
      transform: rotate(360deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    100% {
      transform: rotate(0deg);
    }
}

.svg1 {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1);
          transform: translate(-50%, -50%) rotate(45deg) scale(1);
}

.stroke-still {
  stroke: #232323;
}

.stroke-animation {
  -webkit-animation: stroke-spacing 1.2s ease-in, stroke-color 4.8s linear;
          animation: stroke-spacing 1.2s ease-in, stroke-color 4.8s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

@-webkit-keyframes stroke-spacing {
  0% {
    stroke-dasharray: 0 200;
  }
  45% {
    stroke-dashoffset: 0;
    stroke-dasharray: 200 200;
  }
  90% {
    stroke-dashoffset: -200;
    stroke-dasharray: 200 200;
  }
  100% {
    stroke-dashoffset: -200;
    stroke-dasharray: 200 200;
  }
}

@keyframes stroke-spacing {
  0% {
    stroke-dasharray: 0 200;
  }
  45% {
    stroke-dashoffset: 0;
    stroke-dasharray: 200 200;
  }
  90% {
    stroke-dashoffset: -200;
    stroke-dasharray: 200 200;
  }
  100% {
    stroke-dashoffset: -200;
    stroke-dasharray: 200 200;
  }
}

@-webkit-keyframes stroke-color {
  0%  { stroke: var(--main-color); }
  24% { stroke: var(--main-color); }
  25% { stroke: var(--main-color); }
  49% { stroke: var(--main-color); }
  50% { stroke: var(--main-color); }
  74% { stroke: var(--main-color); }
  75% { stroke: var(--main-color); }
  99% { stroke: var(--main-color); }
}

@keyframes stroke-color {
  0%  { stroke: var(--main-color); }
  24% { stroke: var(--main-color); }
  25% { stroke: var(--main-color); }
  49% { stroke: var(--main-color); }
  50% { stroke: var(--main-color); }
  74% { stroke: var(--main-color); }
  75% { stroke: var(--main-color); }
  99% { stroke: var(--main-color); }
}

@media only screen and (max-width: 1024px) {
  body {
    font-size: 80%;
  }

  /* HEADINGS */
  .standard-heading{
    font-size: 150%;
    color: var(--white-color);
  }

  .main-heading{
    font-size: 250%;
    color: var(--main-color);
  }

  .sub-heading {
    font-size: 80%;
    color: var(--light-grey-color);
  }  

  /* CROPPED IMAGE */
  .cropped-image img {
    margin-left: 0%;
    width: 600px;
    height: 300px;
    object-fit: cover;  
    object-position: 40% 40%;
    box-shadow: 10px 10px var(--main-color);
  }
}